
<ion-content color="secondary" padding >


<ion-menu side="start" >
	<ion-header>
  		<ion-toolbar>
    		<ion-title>Menu</ion-title>
  		</ion-toolbar>
	</ion-header>
  	<ion-content>
    	<ion-list>
      		<p>item 1</p>
    	</ion-list>
  	</ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>

	<ion-grid style="height: 100%">
  		<ion-row justify-content-center align-items-center style="height: 100%">
    		<ion-content  style="height: 80%"  padding >
    			<ion-img style="height: 100%" src="/assets/GoogleApi.JPG"></ion-img>
			</ion-content>
  		</ion-row>
	</ion-grid>

</ion-content>
